
.Root {
    all: unset;
    width: 42px;
    height: 25px;
    background-color: var(--black-a9);
    border-radius: 9999px;
    position: relative;
    box-shadow: 0 2px 10px var(--black-a7);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:focus {
        box-shadow: 0 0 0 2px black;
    }
    &[data-state="checked"] {
        background-color: black;
    }
    margin-left: 10px;
}

.Thumb {
    display: block;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0 2px 2px var(--black-a7);
    transition: transform 100ms;
    transform: translateX(2px);
    will-change: transform;
    &[data-state="checked"] {
        transform: translateX(19px);
    }

    &:where([data-disabled]) {
        background-color: var(--gray-2);
        box-shadow: 0 0 0 1px var(--gray-a2), 0 1px 3px var(--black-a1);
        /* Avoid the Chrome P3 bug with transition through red when changing light/dark mode */
        transition: none;
        cursor: not-allowed;
    }
}
